header.header
	.container.d-flex
		a.header__logo(href=data.header.links.logo)
			span
				| TYNY 
			| 2019
			
		.header__burger.for-devices
			.line
			.line
			.line
		
		.header__line.for-desktop

		.header__menu
			nav.header__list
				each object, key in data.header.menu
					a.header__link(
						href=object.url
						data-link=key
					)
						!= object.name
				a(href="#feedback").reg-button.button
					| Регистрация

			

			.header__socials
				a(
					href="mailto:"+data.footerLinks.email)
					img(src='images/mail.svg')
				a(
					href=data.header.links.fb
					target='_blank')
					img(src='images/fb.svg')
